<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".pages.MagintsNbeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

      <!--  <activity
            android:name="com.magints.nbe_sdk.pages.MagintsNbeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".pages.CollectCardInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar"
            />

        <activity
            android:name=".pages.ProcessPaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar"
            />

        <activity
            android:name="com.mastercard.gateway.android.sdk.Gateway3DSecureActivity"
            android:label="@string/gateway_3d_secure_authentication"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar"
            />
    </application>

</manifest>
